

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
	
    /* border: 1px solid red; */
}


.subHeader{
	width: 100%;
    max-width: 960px;
    margin: 0 0;
    padding: 20px 0;
    box-sizing: border-box;
	text-align: center;
	font-size:3.6em;
	background: #000451;
	color:#fafafa;
	margin-bottom: 5%;
	
}
.paragrafo1{
	text-align: center;
	display: block;
}

.imagens{
	border-width: 2px;
	border-style: dotted;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption{
	
	text-align: center;
	
}
	

#sala{
	display: absolute;
	width: 250px;
	height: 500px;
}

#alcateia{
	display: absolute;
	width: 500px;
	height: 500px;
}

#segundoTitulo{
	font-size: 36px;
}

html{
    /* font-size: 12px; */
}

body{
    background: #00e0e2;
}

header{
    height: 70px;
    width: 100%;
    background: #222;
}

nav{
    height: 100%;
	text-align: center;
	
}

h1{
    
    font-size: 3.2em;
	color: #005fff;
}

h2{
	color: #005fff;
}
figcaption{
	display: block;
    margin-left: auto;
    margin-right: auto;

}
section{
    height: 60vh;
    width: 100%;
    background: #fafafa;
    font-size: 12px;
	
	display: block;
}

p{
    font-size: 1.6em;
    line-height: 1.5;
}




